<button mat-stroked-button label="TABLE_VIEW" (click)="switchToTable()">
  <mat-icon>table_rows</mat-icon>
  {{"TABLE_VIEW" |oTranslate}}
</button>
<o-grid #books
        class="grid-container"
        attr="booksGrid"
        service="books"
        entity="vBookDetails"
        columns="book_id;isbn;cover;title;synopsis;author_names;genre_names;avg_rating;ratings"
        orderable="yes"
        quick-filter="yes"
        grid-item-height="350"
        gutter-size="8px"
        sort-column="title"
        sortable-columns="title:asc;title:desc;avg_rating:desc;avg_rating:asc;ratings:desc;ratings:asc"
        sort-columns="avg_rating:desc"
        keys="book_id"
        pageable="no"
        query-rows="16"
        detail-mode="no">
  <o-grid-item *ngFor="let book of books.dataArray" class="">
    <app-publisher-card-medium [book]="book" [isInList]="isBookInMyList(book.book_id)" (toggle)="toggleBookInMyList(book.book_id)"></app-publisher-card-medium>
  </o-grid-item>
</o-grid>