<o-app-layout>


  <o-app-layout-sidenav *ngIf="loginService.isLoggedIn(); else loggedOut" position="end">
    <ul>
      <li class="o-app-sidenav-menuitem o-app-sidenav-item">
        <a mat-button class="mat-button menu-item-anchor" (click)="this.loginService.logoutWithConfirmationAndRedirect()">
          <div class="mat-button-wrapper">
            <div fxLayout="row" fxLayoutAlign="start center" class="o-menu-item">
              <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="margin-right: 15px">
                exit_to_app
              </mat-icon>
              {{'LOGOUT' | oTranslate}}
            </div>
          </div>
          <div class="mat-button-ripple mat-ripple" matRipple ></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>
    </ul>
  </o-app-layout-sidenav>

  <ng-template #loggedOut>
    <o-app-layout-sidenav position="end">
      <ul>
        <li class="o-app-sidenav-menuitem o-app-sidenav-item">
          <a mat-button class="mat-button menu-item-anchor" routerLink="/login">
            <div class="mat-button-wrapper">
              <div fxLayout="row" fxLayoutAlign="start center" class="o-menu-item">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="margin-right: 15px">
                  login
                </mat-icon>
                {{'LOGIN' | oTranslate}}
              </div>
            </div>
            <div class="mat-button-ripple mat-ripple" matRipple ></div>
            <div class="mat-button-focus-overlay"></div>
          </a>
        </li>
        <li class="o-app-sidenav-menuitem o-app-sidenav-item">
          <a mat-button class="mat-button menu-item-anchor" routerLink="/signin">
            <div class="mat-button-wrapper">
              <div fxLayout="row" fxLayoutAlign="start center" class="o-menu-item">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="margin-right: 15px">
                  how_to_reg
                </mat-icon>
                {{'SIGNIN' | oTranslate}}
              </div>
            </div>
            <div class="mat-button-ripple mat-ripple" matRipple ></div>
            <div class="mat-button-focus-overlay"></div>
          </a>
        </li>
      </ul>
    </o-app-layout-sidenav>
  </ng-template>


  <router-outlet></router-outlet>
</o-app-layout>
