<o-app-layout>
  <o-app-layout-sidenav *ngIf="loginService.isLoggedIn()" position="start">
    <div class="o-app-sidenav-menu-item">
      <div class="o-app-sidenav-item">
        <a mat-button class="mat-button">
          <div class="mat-button-wrapper">
            <div fxlayout="row" fxlayoutalign="start center"
                 style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
<!--              <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="margin-right: 15px">-->
<!--                account_circle-->
<!--              </mat-icon>-->
              {{'WELCOME' | oTranslate}}: {{ user }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </o-app-layout-sidenav>

  <o-app-layout-sidenav *ngIf="loginService.isLoggedIn(); else loggedOut" position="end">
    <div class="o-app-sidenav-menu-item">
      <div class="o-app-sidenav-item">
        <a mat-button class="mat-button" (click)="this.logout()">
          <div class="mat-button-wrapper">
            <div fxlayout="row" fxlayoutalign="start center"
                 style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
              <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="margin-right: 15px">
                exit_to_app
              </mat-icon>
              {{'LOGOUT' | oTranslate}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </o-app-layout-sidenav>

  <ng-template #loggedOut>
    <o-app-layout-sidenav position="end">
      <div class="o-app-sidenav-menu-item">
        <div class="o-app-sidenav-item">
          <a mat-button class="mat-button" routerLink="/login">
            <div class="mat-button-wrapper">
              <div fxlayout="row" fxlayoutalign="start center"
                   style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="margin-right: 15px">
                  login
                </mat-icon>
                {{'LOGIN' | oTranslate}}
              </div>
            </div>
          </a>
        </div>
      </div>
    </o-app-layout-sidenav>
  </ng-template>
  <router-outlet></router-outlet>
</o-app-layout>
