<div *ngIf="this.book" class="m-1">
  <mat-card class="tarjeta">
    <mat-card-content>
      <o-row>
        <o-column fxFlex="35" class="mr-2">
          <o-image class="cursor-pointer" [routerLink]="['/main','books', book.book_id]"
                   height="200px" id="book_cover" attr="cover" label="COVER"
                   [data]="book.cover | base64" auto-fit="yes" enabled="true"
                   read-only="true" show-controls="false"
                   full-screen-button="false"></o-image>
        </o-column>
        <o-column fxFlex="70">
          <mat-card-title class=" cursor-pointer" class="title" [routerLink]="['/main','books', book.book_id]">
            <div class="txt-wrap">
              {{ (book.title.length > 15) ? (book.title | slice:0:15) + '...' : (book.title) }}
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            {{ (book.author_names.length > 20) ? (book.author_names | slice:0:20) + '...' : (book.author_names) }}
          </mat-card-subtitle>
          <mat-card-subtitle class="stars">
            <div class="text ellipsis">
              <span class="text-concat">{{book.synopsis}}</span>
            </div>
          </mat-card-subtitle>
        </o-column>
      </o-row>
    </mat-card-content>

    <mat-card-footer class="pie">
      <o-row>
        <o-column fxFlex="60" class="stars">
          <app-star-rating [rating]="book.avg_rating" [ratings]="book.ratings"></app-star-rating>
        </o-column>
        <o-column fxFlex class="boton" *ngIf="this.isLoggedIn()">
          <div fxFlex class="m-1" style="justify-content: flex-end;">
            <app-add-to-my-list-button [isInList]="isInList"
                                       (toggle)="this.toggleBookInMyList()"></app-add-to-my-list-button>
          </div>
        </o-column>
      </o-row>
    </mat-card-footer>
  </mat-card>
