.tarjeta {
  height: 300px;
}



.text {
  position: relative;
  font-size: 14px;
  color: black;
  font-family: sans-serif;
  width: 90%; /* Could be anything you like. */
}

.text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
  //text-align:justify;
}

.text.ellipsis::after {
  content: "...";
  position: absolute;
  right: -12px;
  bottom: 5px;
}


.content {
  padding: 16px;
}

.content > mat-card {
  width: 550px;
  height: 300px;
  border-style: round(15);
  margin: 10px;
}



.dates{
  margin-top: 10px;
  margin-left: 20px;
}
.cover {
  padding: 10px;
}


.title{
  font-size:large;
  font-weight: bold;
}
.authors{
  font-size: medium;
  font-weight: bolder;
  color:#2d2d2d;
}
.search{
  margin-left: 20px;

}
//.buttonsGroup{
//  position: absolute;
//  right: 20px;
//  float: right;
//}
.pie {
  text-align: right;

}
.stars{
  margin-top: 15px;
  margin-left:25px
}