.txt-wrap {
  width: 300px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}


o-table-column {
  height: 50px;
}

.grid-container {
  //display: grid;
  //grid-row-gap: 50px;
  //margin-block: 50px 50px;

}
.content {
  padding: 16px;
}

.content > mat-card {
  width: 550px;
  height: 300px;
  border-style: round(15);
  margin: 10px;
}

.dates{
  margin-top: 10px;
  margin-left: 20px;
}
.cover {
  padding: 10px;
  //quitar scroll
  //overflow:hidden;
}

//.cover > img{
//  max-width:100%;
//  max-height:100%;
//}

.title{
  font-size:large;
  font-weight: bold;
}
.authors{
  font-size: medium;
  font-weight: bolder;
  color:#2d2d2d;
}
.search{
  margin-left: 20px;

}
.buttonsGroup{
  position: absolute;
  right: 20px;


  float: right;
  // padding: 10px;
}