<div *ngIf="this.book">
  <mat-card>
    <mat-card-content>
      <o-row>
        <o-column fxFlex="30" class="mr-2">
          <o-image height="200px" id="book_cover" attr="cover" label="COVER"
                   [data]="getImageSrc(book.cover)" auto-fit="yes" enabled="true"
                   read-only="true" show-controls="false"
                   full-screen-button="false"></o-image>
        </o-column>
        <o-column fxFlex="70">
          <mat-card-title class=" cursor-pointer" [routerLink]="['/main','books', book.book_id]">
            <div class="txt-wrap">
              {{book.title}}
            </div>
          </mat-card-title>
          <mat-card-subtitle class=""><p>{{book.author_names}}</p></mat-card-subtitle>
          <div class="sypnosis"><p>{{book.synopsis}}</p></div>
          <o-row>
            <o-column fxFlex>
              <div>
              <img  class="img-fluid" src="{{book.avg_rating | starRating}}" alt=""
                      title="{{('AVG_RATING_SHORT'|oTranslate) +': '+ book.avg_rating + ' ' + ('RATINGS_SHORT'|oTranslate) +': '+ book.ratings}}">
              </div>
            </o-column>
            <o-column fxFlex>
              <o-row >
                <o-button-toggle attr="toggle1" value="list" icon="bookmark_border" (click)="addToMyList(book.book_id)"></o-button-toggle>
                <o-button-toggle attr="toggle2" value="review" icon="comment" (click)="reviewPopup(book.book_id)"></o-button-toggle>
<!--                <o-button attr="icon" type="ICON" icon="more" (click)="onClick($event)"></o-button>-->
              </o-row>
            </o-column>
          </o-row>
        </o-column>
      </o-row>
    </mat-card-content>
  </mat-card>
</div>

<!--  <div class="card">-->
<!--    <div class="card-horizontal">-->
<!--      <div class="img-square-wrapper">-->
<!--        <img class="" height="200px" src="{{'data:image/jpg;base64,' +book.cover}}" alt="Card image cap">-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">{{book.title}}</h5>-->
<!--        <p class="card-text">{{book.author_names}}</p>-->
<!--        <p class="card-text">{{book.genre_names}}</p>-->
<!--        <p class="card-text">{{book.synopsis}}</p>-->
<!--        <img class="" height="20px" src="{{book.avg_rating | starRating}}" alt=""-->
<!--             title="{{'Rating: ' + book.avg_rating}}">-->
<!--        <span class="">({{book.avg_rating ? book.avg_rating : '-'}}) | </span>-->
<!--        <span class="">{{'RATINGS_SHORT' | oTranslate}}: {{book.ratings ? book.ratings : '-'}}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div> -->
