<div *ngIf="this.book">
  <mat-card class="tarjeta">

    <mat-card-header class="cabecera">
      <mat-card-title class="card cursor-pointer" [routerLink]="['/main', 'books', book.book_id]">
        <div class="text ellipsis">
          <span class="text-concat">{{book.title}}</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <o-image class="cursor-pointer" [routerLink]="['/main','books', book.book_id]"
               height="200px"
               id="book_cover"
               attr="cover"
               label="COVER"
               [data]="book.cover | base64"
               auto-fit="yes"
               enabled="true"
               read-only="true"
               show-controls="false"
               full-screen-button="false"></o-image>
    </mat-card-content>
    <mat-card-footer>
      <o-row fxFlex>
        <o-column fxFlex>
          <app-star-rating [rating]="book.avg_rating" [ratings]="book.ratings" ></app-star-rating>
        </o-column>
        <o-column fxFlex *ngIf="this.isLoggedIn()">
          <app-add-to-my-list-button class="boton" [isInList]="isInList"
                                     (toggle)="this.toggleBookInMyList()"></app-add-to-my-list-button>
        </o-column>
      </o-row>
    </mat-card-footer>
  </mat-card>
</div>