o-table-column {
  height: 50px;
}

.grid-container {
  display: grid;
  grid-row-gap: 50px;
  //margin-block: 50px 50px;

}
.content {
  padding: 16px;
}

.content > mat-card {
  width: 550px;
  border-style: round(15);
}

.dates{
  margin-top: 50px;
 margin-left: 20px;
}
.cover {
  width: 250px;
  height: 250px;
  padding: 10px;
  //quitar scroll
  overflow:hidden;
}

.title{
font-size:large;
  font-weight: bold;
}
.authors{
  font-size: medium;
  font-weight: bolder;
  color:#2d2d2d;
}
.search{
  margin-left: 20px;

}
.buttonsGroup{
  //float: right;
  //padding: 10px;
}