o-table-column {
  height: 50px;
}

.grid-container {
  display: grid;
  grid-row-gap: 50px;
  margin: 50px;
}
.content {
  padding: 16px;
}

.content > mat-card {
  width: 550px;
}
.card{

}
.container-item{
  border-color: #7f7f7f;
  border-width: medium;
  border-style: solid;

}

.cover {
  width: 250px;
  height: 250px;
  margin:2px;
  //quitar scroll
  overflow:hidden;
}

.title{
font-size:large;
  font-weight: bold;
}
.authors{
  font-size: medium;
  font-weight: bolder;
  color:#2d2d2d;
}