<!--<div fxFlex>-->
<!--



 <o-table fxFlex attr="booksTable" service="books" entity="vBookDetails" keys="book_id"-->
<!--           columns="book_id;isbn;cover;title;publish_date;publisher_name;author_names;genre_names;avg_rating;ratings"-->
<!--           visible-columns="book_id;isbn;cover;title;publish_date;publisher_name;author_names;genre_names;avg_rating;ratings"-->
<!--           query-rows="20">-->
<!--    <o-table-column attr="book_id" title="ID" type="integer" width="50"></o-table-column>-->
<!--    <o-table-column attr="isbn" title="ISBN"></o-table-column>-->
<!--    <o-table-column attr="cover" title="COVER" width="64px" orderable="no" searchable="no">-->
<!--      <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">-->
<!--      </o-table-cell-renderer-image>-->
<!--    </o-table-column>-->
<!--    <o-table-column attr="title" title="TITLE"></o-table-column>-->
<!--    <o-table-column attr="publish_date" title="PUBLISH_DATE" type="date" format="MM/DD/YYYY"></o-table-column>-->
<!--    <o-table-column attr="publisher_name" title="PUBLISHER_NAME"></o-table-column>-->
<!--    <o-table-column attr="author_names" title="AUTHOR_NAMES"></o-table-column>-->
<!--    <o-table-column attr="genre_names" title="GENRE_NAMES"></o-table-column>-->
<!--    <o-table-column attr="avg_rating" title="AVG_RATING" width="150px"-->
<!--                    orderable="no" searchable="no" type="image">-->
<!--      <o-table-column-renderer-star-rating image-type="base64" empty-image="assets/images/no-image.png"-->
<!--                                           avatar="yes"></o-table-column-renderer-star-rating>-->
<!--    </o-table-column>-->
<!--    <o-table-column attr="ratings" title="RATINGS" type="integer" width="50px"></o-table-column>-->
<!--  </o-table>-->
<!--</div>-->

<div fxFlex>
    <o-grid class="grid-container" #grid attr="booksGrid" service="books" entity="vBookDetails"
            columns="book_id;isbn;cover;title;synopsis;author_names;genre_names;avg_rating;ratings"
            orderable="yes" quick-filter="no" grid-item-height="300" sortable-columns="title"
            keys="book_id" [cols]="2" pageable="no" query-rows="16">
        <o-grid-item *ngFor="let row of grid.dataArray" class="container-item">
            <div class="content" layout="row" layout-wrap>

                <mat-card class="card">
                    <!--                      *ngFor="let row of grid.dataArray" [o-list-item]="row">-->
                    <mat-card-header>
                        <div class="cover">
                            <img mar-card-image [src]="getImageSrc(row.cover)" Flix/>
                        </div>
                        <div class="dates">
                            <mat-card-title class="title" (click)="onClick($event)">{{row.title}}</mat-card-title>
                            <mat-card-subtitle class="authors">{{row.author_names}}</mat-card-subtitle>
                            <div class="sypnosis">{{row.synopsis}}</div>
                            <div >
                                <img width="120px" src="{{row.avg_rating | starRating}}">({{(row.ratings?row.ratings:'-')}})
                            </div>

                        </div>
                        <div class="search">
                            <mat-card-actions>
                                <o-button attr="icon" type="ICON" icon="more" (click)="onClick($event)"></o-button>
                            </mat-card-actions>
                        </div>
                    </mat-card-header>
                    <div class="buttonsGroup">
                        <mat-card-content>
                            <o-button-toggle-group attr="toggleGroup" layout="row" multiple="no" value="">
                                <o-button-toggle attr="toggle1" value="list" icon="bookmark_border"></o-button-toggle>
                                <o-button-toggle attr="toggle2" value="review" icon="comment"></o-button-toggle>
                            </o-button-toggle-group>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <!--    </o-list>-->
        </o-grid-item>
    </o-grid>
</div>
