#
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


# Project exclude paths
/api/target/
/boot/target/
/frontend/target/
/model/target/
/ws/target/
*/target/
/frontend/src/main/resources/webapp/node_modules
/frontend/src/main/resources/webapp/node
/model/src/main/db/
/boot/src/main/resources/static/
