<div fxFlex>
  <o-form service="authors"
          entity="author"
          keys="author_id"
          header-actions="R"
          show-header="no">
    <o-integer-input attr="author_id" sql-type="INTEGER" label="Id" enabled="no" class="display-none"
                     read-only="yes"></o-integer-input>
    <o-row fxFlex>
      <o-column fxFlex="20" class="col-padding">
        <o-row>
          <o-image id="author_portrait" attr="author_portrait" label="AUTHOR_PORTRAIT"
                   empty-image="assets/images/no-image.png" sql-type="OTHER"
                   auto-fit="no" show-controls="no"></o-image>
        </o-row>
        <o-row title="{{ 'AVG_RATING_SHORT' | oTranslate }}">
          <app-star-rating *ngIf="rating && rating.avg_rating"  [rating]="rating.avg_rating"
                           [ratings]="rating.ratings"></app-star-rating>
        </o-row>
      </o-column>
      <o-column title="{{ 'AUTHOR_INFORMATION' | oTranslate }}" fxFlex="80">
        <o-row>
          <o-text-input class="input-padding" attr="author_name" label="AUTHOR_NAME" fxFlex
                        required="no" read-only="yes"></o-text-input>
        </o-row>
        <o-row>
          <o-date-input attr="author_birth" label="AUTHOR_BIRTH" fxFlex="50" read-only="yes"></o-date-input>
          <o-date-input attr="author_death" label="AUTHOR_DEATH" fxFlex="50" read-only="yes"></o-date-input>
        </o-row>
        <o-row>
          <o-textarea-input attr="author_bio" label="BIOGRAPHY" fxFlex read-only="yes"></o-textarea-input>
        </o-row>
      </o-column>
    </o-row>
    <o-row fxFlex>
      <o-column fxFlex title="{{ 'BOOKS' | oTranslate }}">
        <o-table attr="authorBooksTable"
                 service="authors"
                 entity="vAuthorBookDetails"
                 parent-keys="author_id"
                 keys="author_id"
                 columns="book_id;isbn;cover;title;publish_date;publisher_name;author_names;genre_names;avg_rating;ratings"
                 visible-columns="isbn;cover;title;publish_date;publisher_name;author_names;genre_names;avg_rating"
                 query-rows="10"
                 detail-form-route="/main/books/"
                 show-filter-option="yes"
                 quick-filter="yes"
                 show-configuration-option="no"
                 refresh-button="no"
                 export-button="no"
                 delete-button="no"
                 insert-button="no"
                 fixed-header="yes">
          <o-table-columns-filter columns="avg_rating" ></o-table-columns-filter>
          <!--          <o-table-column attr="book_id" title="ID" type="integer"></o-table-column>-->
          <o-table-column attr="isbn" title="ISBN" width="128px"></o-table-column>
          <o-table-column attr="cover" title="COVER" width="64px" orderable="no" searchable="no" image-type="base64"
                          type="image">
            <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png"
                                         avatar="yes"></o-table-cell-renderer-image>
          </o-table-column>
          <o-table-column attr="title" title="TITLE"></o-table-column>
          <o-table-column attr="publish_date" title="PUBLISH_DATE" type="date" format="MM/DD/YYYY"></o-table-column>
          <o-table-column attr="publisher_name" title="PUBLISHER_NAME"></o-table-column>
          <o-table-column attr="author_names" title="AUTHOR_NAMES"></o-table-column>
          <o-table-column attr="genre_names" title="GENRE_NAMES"></o-table-column>
          <o-table-column attr="avg_rating" title="AVG_RATING" class="o-table-column-centered">
            <o-table-cell-renderer-star-rating></o-table-cell-renderer-star-rating>
          </o-table-column>
        </o-table>
      </o-column>
    </o-row>
    <o-row>
      <o-column fxFlex="80" title="{{ 'ALL_REVIEWS' | oTranslate }}">
        <app-opinion-display *ngFor="let opinion of opinions | async" [opinion]="opinion"></app-opinion-display>
      </o-column>
    </o-row>
  </o-form>
</div>