/* You can add global styles to this file, and also import other style files */
.input-padding{
  padding-right: 6px;
}
.col-padding{
  padding-right: 15px;
}


.cursor-pointer{cursor: pointer;}
.cursor-croshair{cursor: crosshair;}
.cursor-eresize{cursor: e-resize;}
.cursor-move{cursor: move;}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

