<mat-card class="user-opinion">

  <o-column fxFlex="25" *ngIf="opinion.cover" class="image">
    <mat-card-title *ngIf="opinion.title" [routerLink]="['/main','books', opinion.book_id]"
                    class="cursor-pointer">{{ (opinion.title.length > 15) ? (opinion.title | slice:0:15) + '...' : (opinion.title) }}</mat-card-title>
    <o-image class="cursor-pointer"
             empty-image="assets/images/no-image.png"
             [routerLink]="['/main','books', opinion.book_id]"
             height="200px"
             id="book_cover"
             label="COVER"
             [data]="opinion.cover | base64"
             auto-fit="yes"
             enabled="true"
             read-only="true"
             show-controls="false"
             full-screen-button="false"></o-image>
  </o-column>

  <o-column fxFlex="75">

    <app-star-rating [rating]="opinion.rating" [ratings]="1" height="25"></app-star-rating>
    <mat-card-header>
      <mat-card-title><h3>{{opinion.user_}}</h3></mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
      <div *ngIf="opinion.opinion_create">{{'OPINION_CREATED_DATE' |oTranslate}} {{opinion.opinion_create | date:'medium'}}</div>
      <div *ngIf="opinion.opinion_update">{{'OPINION_UPDATED_DATE' |oTranslate}} {{opinion.opinion_update | date:'medium'}}</div>
    </mat-card-subtitle>
    <mat-card-content>
      <p>{{opinion.review}}</p>
    </mat-card-content>
  </o-column>


</mat-card>