<mat-card class="user-opinion cursor-pointer" [routerLink]="['/main','books', opinion.book_id]" fragment="userRating">

  <o-column fxFlex="20" *ngIf="opinion.cover" class="image">
    <o-image class="cursor-pointer"
             empty-image="assets/images/no-image.png"
             [routerLink]="['/main','books', opinion.book_id]"
             height="150px"
             id="book_cover"
             label="COVER"
             [data]="opinion.cover | base64"
             auto-fit="yes"
             enabled="true"
             read-only="true"
             show-controls="false"
             full-screen-button="false"></o-image>
  </o-column>

  <o-column fxFlex="80" class="horizontal-margin-8">


    <mat-card-content>
      <h2  *ngIf="opinion.title" class="">{{opinion.title}}</h2>
      <mat-card-title>
        <app-star-rating [rating]="opinion.rating" [ratings]="1" height="25"></app-star-rating>
      </mat-card-title>
      <h3 *ngIf="showUser">{{opinion.user_}}</h3>
      <p>{{opinion.review}}</p>
      <div *ngIf="opinion " class="margin-top-auto">
        <h6>
          {{'OPINION_UPDATED_DATE' |oTranslate}} {{(opinion.opinion_update ? opinion.opinion_update
          : opinion.opinion_create) | date:'medium'}}</h6>
      </div>
    </mat-card-content>
  </o-column>


</mat-card>