<div *ngIf="this.publisher">
  <mat-card class="tarjeta">
    <mat-card-content>
      <o-image height="100px"
               empty-image="assets/images/no-image.png"
               id="publisher_logo"
               attr="logo"
               label="LOGO"
               [data]="publisher.publisher_logo | base64"
               auto-fit="yes"
               enabled="true"
               read-only="true"
               show-controls="false"
               full-screen-button="false"></o-image>

      <mat-card-title class="text-center cursor-pointer" [routerLink]="['/main','publishers', publisher.publisher_id]">
        <div class="txt-wrap">
          {{publisher.publisher_name}}
        </div>
      </mat-card-title>


    </mat-card-content>
    <mat-card-footer class="text-center">

      <app-star-rating [rating]="publisher.avg_rating"
                       [ratings]="publisher.ratings"></app-star-rating>
    </mat-card-footer>
  </mat-card>
</div>