<div *ngIf="this.publisher">
  <mat-card>
    <mat-card-content>
      <o-row>
        <o-column fxFlex="30" class="mr-2">
          <o-image height="100px" id="publisher_logo" attr="logo" label="LOGO"
                   [data]="publisher.publisher_logo | base64" auto-fit="yes" enabled="true"
                   read-only="true" show-controls="false"
                   full-screen-button="false"></o-image>
        </o-column>
        <o-column fxFlex="70">
          <mat-card-title class=" cursor-pointer" [routerLink]="['/main','publishers', publisher.publisher_id]">
            <div class="txt-wrap">
              {{publisher.publisher_name}}
            </div>
          </mat-card-title>

<!--          <o-row>-->
<!--            <o-column fxFlex>-->
<!--              <div>-->
<!--              <img  class="img-fluid" src="{{book.avg_rating | starRating}}" alt=""-->
<!--                      title="{{('AVG_RATING_SHORT'|oTranslate) +': '+ book.avg_rating + ' ' + ('RATINGS_SHORT'|oTranslate) +': '+ book.ratings}}">-->
<!--              </div>-->
<!--            </o-column>-->
<!--            <o-column fxFlex>-->
<!--              <o-row >-->
<!--                <o-button-toggle attr="toggle1" value="list" icon="bookmark_border" (click)="addToMyList(book.book_id)"></o-button-toggle>-->
<!--                <o-button-toggle attr="toggle2" value="review" icon="comment" (click)="reviewPopup(book.book_id)"></o-button-toggle>-->
<!--&lt;!&ndash;                <o-button attr="icon" type="ICON" icon="more" (click)="onClick($event)"></o-button>&ndash;&gt;-->
<!--              </o-row>-->
<!--            </o-column>-->
<!--          </o-row>-->
        </o-column>
      </o-row>
        <o-row><p>{{publisher.publisher_desc}}</p></o-row>
    </mat-card-content>
  </mat-card>
</div>

