<div *ngIf="this.publisher">
  <mat-card class="tarjeta">
    <mat-card-content>
      <o-row>
        <o-column fxFlex="30" class="mr-2">
          <o-image height="100px" id="publisher_logo" attr="logo" label="LOGO"
                   [data]="publisher.publisher_logo | base64" auto-fit="yes" enabled="true"
                   read-only="true" show-controls="false"
                   full-screen-button="false"></o-image>
        </o-column>
        <o-column fxFlex="70">
          <mat-card-title class=" cursor-pointer" class="title" [routerLink]="['/main','publishers', publisher.publisher_id]">
            <div class="txt-wrap">
              {{publisher.publisher_name}}
            </div>
          </mat-card-title>


            <o-column fxFlex="50">
              <div class="stars">
                <app-star-rating [rating]="publisher.avg_rating"
                                 [ratings]="publisher.ratings" [fluid]="true"></app-star-rating>
              </div>
            </o-column>

        </o-column>
      </o-row>

    </mat-card-content>
    <mat-card-footer class="pie">
      <div class="text ellipsis">
        <span class="text-concat">{{publisher.publisher_desc}}</span>
      </div>
    </mat-card-footer>
  </mat-card>
</div>

