<div fxFlex >
  <o-table fxFlex attr="publishersTable" service="publishers" entity="publisher" keys="publisher_id"
           columns="publisher_id;publisher_name;publisher_desc;publisher_logo"
           visible-columns="publisher_id;publisher_logo;publisher_name;publisher_desc"
           query-rows="20">
    <o-table-column attr="publisher_id" title="ID" type="integer"></o-table-column>
    <o-table-column attr="publisher_logo" title="LOGO" width="64px" orderable="no" searchable="no" image-type="base64"
                    type="image">
      <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png"
                                   avatar="yes"></o-table-cell-renderer-image>
    </o-table-column>
    <o-table-column attr="publisher_name" title="NAME"></o-table-column>
    <o-table-column attr="publisher_desc" title="DESCRIPTION"></o-table-column>

  </o-table>
</div>
