<button mat-stroked-button label="TABLE_VIEW" (click)="switchToTable()">
  <mat-icon>table_rows</mat-icon>
  {{"TABLE_VIEW" |oTranslate}}
</button>
<div class="row">
  <div class="col-12 m-2" *ngFor="let genre of genres | async">
    <div class="card">
      <h5 class="card-header cursor-pointer" [routerLink]="['/main', 'genres', genre.genre_id]">{{genre.genre_name}}</h5>
      <div class="card-body">
        <ul class="card-deck">
          <app-book-card-small class="m-2" *ngFor="let book of genre.books | async " [book]="book"></app-book-card-small>
        </ul>
      </div>
    </div>
  </div>
</div>
