<mat-card class="opinion-card">
  <mat-card-header>
    <mat-card-title>{{editMode ? 'Your Review:' : ('Review this book:' | oTranslate)}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <o-form editable-detail="no" show-header="no">
      <o-combo #activeRating
               label="Rating"
               attr="Rating"
               [static-data]="getRatingValues()"
               [data]="activeEditRating"
               required="true"
               read-only="false"
               value-column="rating"
               columns="rating"
               visible-columns="rating"
               null-selection="no"></o-combo>
      <o-textarea-input #activeReview attr="review" label="REVIEW" fxFlex [data]="activeEditReview" required="no"
                        read-only="no"></o-textarea-input>
    </o-form>
  </mat-card-content>
  <mat-card-footer *ngIf="editMode">
    <div *ngIf="opinion" class="opinion-create">Created: {{opinion.opinion_create | date}}</div>
    <div *ngIf="isUpdated()" class="opinion-update">Last modification: {{opinion.opinion_update | date}}</div>
  </mat-card-footer>
  <mat-card-actions>
    <button mat-stroked-button (click)="editMode ? updateOpinion() : createOpinion()">
      <mat-icon>update</mat-icon>
      <span>{{editMode ? 'Update Review' : 'Create Review'}}</span>
    </button>
    <button *ngIf="editMode" mat-stroked-button (click)="deleteOpinion()">
      <mat-icon>delete</mat-icon>
      <span>Delete Review</span>
    </button>
  </mat-card-actions>
</mat-card>