<div fxFlex>
  <o-form
      service="genres"
      entity="genre"
      keys="genre_id"
      header-actions="I;R;U;D"
      show-header-navigation="yes">
    <o-integer-input attr="genre_id" sql-type="INTEGER" label="Id" enabled="no"
                     class="display-none"></o-integer-input>
    <o-row fxFlex>
      <o-column title="{{ 'GENRE_INFORMATION' | oTranslate }}" fxFlex="80">
        <o-row>
          <o-text-input class="input-padding" attr="genre_name" label="GENRE_NAME" fxFlex
                        required="no"></o-text-input>
        </o-row>
        <o-row>
          <o-textarea-input attr="genre_desc" label="GENRE_DESC" fxFlex></o-textarea-input>
        </o-row>
      </o-column>
    </o-row>

    <o-row fxFlex>
      <o-column fxFlex title="{{ 'BOOKS' | oTranslate }}">
        <o-table attr="booksTable" service="genres" entity="vGenreBook"
                 parent-keys="genre_id" keys="genre_id"
                 columns="genre_id;book_id;isbn;cover;title;publish_date"
                 visible-columns="genre_id;book_id;isbn;cover;title;publish_date"
                 query-rows="10"
                 insert-button="no"
                 detail-mode="none">
          <o-table-column attr="genre_id" title="GENRE_ID" type="integer" width="48px"></o-table-column>
          <o-table-column attr="book_id" title="BOOK_ID" type="integer" width="48px"></o-table-column>
          <o-table-column attr="isbn" title="ISBN"  width="128px"></o-table-column>
          <o-table-column attr="cover" title="COVER" orderable="no" searchable="no"
                          image-type="base64" type="image" width="48px">
            <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png"
                                         avatar="yes"></o-table-cell-renderer-image>
          </o-table-column>
          <o-table-column attr="title" title="TITLE"></o-table-column>
          <o-table-column attr="publish_date" title="PUBLISH_DATE" type="date" format="MM/DD/YYYY"></o-table-column>
        </o-table>
      </o-column>
    </o-row>
  </o-form>
</div>
