<div fxFlex>
  <o-form service="books" entity="vBookRatings" keys="book_id" header-actions="I;R;U;D" show-header="yes">
    <o-integer-input attr="book_id" sql-type="INTEGER" label="Id" enabled="no" class="display-none"></o-integer-input>
    <o-row fxFlex>
      <o-column fxFlex="20" class="col-padding">
        <o-row>
          <o-image id="book_cover" attr="cover" label="" empty-image="assets/images/no-image.png" sql-type="OTHER"
                   auto-fit="no"></o-image>
        </o-row>
          <o-row>
            <o-text-input #rating class="col-padding" attr="avg_rating" label="AVG_RATING" read-only="yes" class="display-none"></o-text-input>
          </o-row>
          <o-row>
            <o-text-input #ratingsEl class="input-padding" attr="ratings" label="RATINGS" read-only="yes"  class="display-none"></o-text-input>
          </o-row>
        <o-row  title="{{ 'BOOK_RATING' | oTranslate }}">
          <img *ngIf="rating.value" height="35" src="{{rating.value.value | starRating}}"><div *ngIf="ratingsEl.value">({{ratingsEl.value.value}})</div>
        </o-row>
        </o-column>
      <o-column title="{{ 'BOOK_INFORMATION' | oTranslate }}" fxFlex="80">
        <o-row>
          <o-text-input class="input-padding" attr="title" label="TITLE" fxFlex></o-text-input>
        </o-row>
        <o-row>
          <o-text-input class="input-padding" attr="isbn" label="ISBN" fxFlex="33" required="yes"></o-text-input>
          <o-combo attr="publisher_id"
                   class="input-padding"
                   label="PUBLISHER_NAME"
                   fxFlex="33" service="books"
                   entity="bookPublisher"
                   keys="publisher_id"
                   columns="publisher_id;publisher_name"
                   visible-columns="publisher_name"
                   value-column="publisher_id"
                   null-selection="no"></o-combo>
          <o-date-input attr="publish_date" label="PUBLISH_DATE" fxFlex="33" class="input-padding"></o-date-input>
        </o-row>
        <o-row>
          <o-textarea-input attr="synopsis" label="SYNOPSIS" fxFlex></o-textarea-input>
        </o-row>
        <o-row>
          <o-column fxFlex="45" title="{{ 'AUTHOR_NAMES' | oTranslate }}">
            <o-list #authorList attr="authors" title="AUTHORS" service="books" entity="vBookAuthor" keys="author_id"
                    parent-keys="book_id" columns="author_name,author_portrait" controls="no">
              <mat-card *ngFor="let author of authorList.dataArray" [o-list-item]="author" class="user-opinion" [routerLink]="['/main', 'authors', author.author_id]">
                <mat-card-header>
                  <mat-card-title>{{author.author_name}}</mat-card-title>
                  <img mat-card-avatar src="{{getImageSrc(author.author_portrait)}}">
                </mat-card-header>
              </mat-card>
            </o-list>

          </o-column>
          <o-column fxFlex="45" title="{{ 'GENRE_NAMES' | oTranslate }}">
            <o-list #genreList attr="genres" title="GENRES" service="books" entity="vBookGenre" keys="genre_id"
                    parent-keys="book_id" columns="genre_name" controls="no">
              <mat-card *ngFor="let genres of genreList.dataArray" [o-list-item]="genres" class="user-opinion" [routerLink]="['/main', 'genres', genres.genre_id]">
                <mat-card-content>{{genres.genre_name}}</mat-card-content>
              </mat-card>
            </o-list>
          </o-column>
        </o-row>
      </o-column>
    </o-row>
    <!--    <o-row>-->
    <!--      <o-column fxFlex="60">-->
    <!--        <o-table class="input-padding" attr="authorsTable" service="books" entity="vBookAuthor"-->
    <!--                 parent-keys="book_id" keys="book_id" columns="author_id;author_name;author_birth;author_death"-->
    <!--                 visible-columns="author_name;author_birth;author_death" query-rows="5"-->
    <!--                 insert-button="no" detail-mode="none">-->
    <!--          &lt;!&ndash;          //           &ndash;&gt;-->
    <!--          <o-table-column attr="author_name" title="AUTHOR_NAME" label="AUTHOR_NAME"-->
    <!--                          class="o-table-column-centered"></o-table-column>-->
    <!--          <o-table-column attr="author_birth" title="AUTHOR_BIRTH" class="o-table-column-centered" type="date"-->
    <!--                          format="MM/DD/YYYY" width="200px"></o-table-column>-->
    <!--          <o-table-column attr="author_death" title="AUTHOR_BIRTH" class="o-table-column-centered" type="date"-->
    <!--                          format="MM/DD/YYYY" width="200px"></o-table-column>-->
    <!--        </o-table>-->
    <!--      </o-column>-->
    <!--      <o-column fxFlex="40" title="{{ 'GENRE_NAMES' | oTranslate }}">-->
    <!--        <o-table attr="genresTable" service="books" entity="vBookGenre"-->
    <!--                 parent-keys="book_id" keys="book_id" columns="genre_id;genre_name"-->
    <!--                 visible-columns="genre_name" query-rows="5"-->
    <!--                 insert-button="no" detail-mode="none">-->
    <!--          &lt;!&ndash;          //         &ndash;&gt;-->
    <!--          <o-table-column attr="genre_name" title="GENRE_NAME" width="150px"-->
    <!--                          class="o-table-column-centered"></o-table-column>-->
    <!--        </o-table>-->
    <!--      </o-column>-->
    <!--    </o-row>-->
    <o-row>
      <o-column fxFlex="80" title="{{ 'USER_REVIEW' | oTranslate }}">
        <div *ngIf="isLoggedIn(); else loggedOut" class="user-opinion">
          <app-user-book-opinion class="user-opinion"></app-user-book-opinion>
        </div>
        <ng-template #loggedOut>
          <div class="loggedOut">{{ 'OPINION_LOGIN_WARN' | oTranslate}}</div>
        </ng-template>
      </o-column>
    </o-row>
    <o-row>
      <o-column fxFlex="80"  title="{{ 'ALL_REVIEWS' | oTranslate }}">
        <o-list #opinions
                attr="opinionsList"
                title="{{ 'OPINIONS' | oTranslate }}"
                service="books"
                entity="vBookOpinions"
                parent-keys="book_id"
                keys="opinion_id"
                columns="opinion_id;rating;review;opinion_create;opinion_update;book_id;user_"
                controls="no"
                detail-mode="none">
          <mat-card class="user-opinion" *ngFor="let opinion of opinions.dataArray" [o-list-item]="opinion" class="user-opinion">
            <img width="120px" src="{{opinion.rating | starRating}}">
            <mat-card-header>
              <mat-card-title>{{opinion.user_}}</mat-card-title>
            </mat-card-header>
            <mat-card-subtitle>{{opinion.opinion_create | date}}</mat-card-subtitle>
            <mat-card-content>
              <p>{{opinion.review}}</p>
            </mat-card-content>
          </mat-card>
        </o-list>
      </o-column>
    </o-row>
  </o-form>
</div>
