<div *ngIf="this.author">
  <mat-card class="tarjeta">
    <mat-card-content>
      <o-image class="author-avatar"
               empty-image="assets/images/no-image.png"
               height="200px"
               id="author_portrait"
               attr="author_portrait"
               label="AUTHOR_PORTRAIT"
               [data]="author.author_portrait | base64"
               auto-fit="yes"
               enabled="true"
               read-only="true"
               show-controls="false"
               full-screen-button="false"></o-image>

      <mat-card-title class="text-center">
        <div class="">
          {{author.author_name}}
        </div>
      </mat-card-title>
      <mat-card-subtitle class="text-center">
        <p>{{author.author_birth| date}} - {{(author.author_death ? (author.author_death|date) : ('AUTHOR_ALIVE'| oTranslate))}}</p>
        <app-star-rating [rating]="author.avg_rating"
                         [ratings]="author.ratings"></app-star-rating>
        <!--                        <p>{{ (author.author_bio.length > 100) ? (author.author_bio | slice:0:100) + '...' : (author.author_bio) }}</p>-->
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
