<div fxFlex class="row">
  <o-table fxFlex attr="genresTable" service ="genres" entity="genre" keys="genre_id"
           columns="genre_id;genre_name;genre_desc"
           visible-columns="genre_id;genre_name;genre_desc" query-rows="20">

    <o-table-button attr="genre_top" label="TOP" icon="style" routerLink="/top"></o-table-button>

    <o-table-column attr="genre_id" title="GENRE_ID"></o-table-column>
    <o-table-column attr="genre_name" title="GENRE_NAME"></o-table-column>
    <o-table-column attr="genre_desc" title="GENRE_DESC"></o-table-column>
  </o-table>
</div>